.coupon-modal-animate,
.coupon-modal-showPrize {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.coupon-modal-showPrize {
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    overflow-x: hidden;
    overflow-y: auto
}

.coupon-modal-showPrize .close {
    position: absolute;
    right: .3rem;
    top: .5rem;
    width: .21333333rem;
    height: .21333333rem;
    background-image: url(../imgs/close.png);
    background-size: 100% 100%;
    z-index: 101
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog {
    -webkit-animation: showPrize .5s ease-in-out;
    animation: showPrize .5s ease-in-out
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .modal-body {
    width: 2.90133333rem;
    height: 4.26666667rem;
    background: url(../imgs/bg.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding: 1.42rem .16rem 0;
    position: relative;
    z-index: 100
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .modal-body.withoutCode {
    padding-top: 1.5rem
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .modal-body.withoutCode .coupon-use {
    margin-top: .2rem
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .modal-title {
    color: #e13f29;
    text-align: center;
    font-size: .13226667rem
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-image {
    margin-top: .08rem;
    background: #fbd0a5;
    border-radius: .08533333rem;
    padding: .10666667rem .064rem;
    box-shadow: 0 6px 0 0 #ed896f
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-image img {
    border-radius: .08533333rem;
    width: 100%
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-code {
    padding-top: .07rem
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-code .code {
    color: #fff;
    font-size: .128rem;
    height: .192rem;
    line-height: .192rem;
    text-align: center;
    display: inline-block;
    width: 49%
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-use {
    width: 1.49333333rem;
    height: .53333333rem;
    line-height: .42666667rem;
    color: #fff;
    font-size: .20053333rem;
    background-color: #fff;
    padding: .015rem;
    border-radius: .192rem;
    box-shadow: 0 2px 3px 1px rgba(177, 21, 39, .85);
    display: block;
    margin: .08rem auto 0
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-use span {
    text-shadow: 0 .00426667rem .00426667rem rgba(146, 11, 0, .49)
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-btn {
    width: 1.45066667rem;
    height: .49066667rem;
    background-image: url(../imgs/couponBtns.png);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation: wobbleBtn 1s ease-in-out infinite;
    animation: wobbleBtn 1s ease-in-out infinite;
    position: relative;
    z-index: 50
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .coupon-dice {
    width: .384rem;
    height: .384rem;
    position: absolute;
    left: 1.2rem;
    top: .53rem;
    background-size: 100%;
    background-repeat: no-repeat
}

.coupon-modal-showPrize .coupon-modal-showPrize-dialog .light {
    width: 2.50026667rem;
    height: 1.27146667rem;
    background: url(../imgs/light.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: .1rem;
    left: .4rem;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: wobbleLight .4s linear infinite;
    animation: wobbleLight .4s linear infinite
}

@-webkit-keyframes wobbleBtn {
    19.9999%,
    from,
    to {
        background-position: 0 0
    }
    20%,
    39.9999% {
        background-position: 0 -.49493333rem
    }
    40%,
    59.9999% {
        background-position: 0 -.98986667rem
    }
    60%,
    79.9999% {
        background-position: 0 -1.4848rem
    }
    80%,
    99.9999% {
        background-position: 0 -1.97973333rem
    }
}

@keyframes wobbleBtn {
    19.9999%,
    from,
    to {
        background-position: 0 0
    }
    20%,
    39.9999% {
        background-position: 0 -.49493333rem
    }
    40%,
    59.9999% {
        background-position: 0 -.98986667rem
    }
    60%,
    79.9999% {
        background-position: 0 -1.4848rem
    }
    80%,
    99.9999% {
        background-position: 0 -1.97973333rem
    }
}

@-webkit-keyframes wobbleLight {
    from {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}

@keyframes wobbleLight {
    from {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}

@-webkit-keyframes showPrize {
    from {
        -webkit-transform: scale(.1);
        transform: scale(.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes showPrize {
    from {
        -webkit-transform: scale(.1);
        transform: scale(.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}